# User-specific files
*.suo
*.user

# Folders
src/TheWorld/node_modules/

# Published information
src/TheWorld/Properties/PublishProfiles/

# Bower dependencies (auto reload if not present)
src/TheWorld/wwwroot/lib

# DNX
project.lock.json